@model IEnumerable<comp4870_assignment_1.Models.Team>

@{
  ViewData["Title"] = "All NHL Teams";
}


<div>
  <h1 class="display-4">@ViewData["Title"]</h1>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="bg-coolors-blue-jeans">@Html.DisplayNameFor(model => model.id)</th>
      <th class="bg-coolors-blue-jeans">@Html.DisplayNameFor(model => model.abbreviation)</th>
      <th class="bg-coolors-blue-jeans">@Html.DisplayNameFor(model => model.name)</th>
      <th class="bg-coolors-blue-jeans">@Html.DisplayNameFor(model => model.locationName)</th>
      <th class="bg-coolors-blue-jeans"></th>
    </tr>
    @foreach (var item in Model)
    {
      <tr>
        <td class="bg-coolors-blue-jeans">@item.id</td>
        <td class="bg-coolors-blue-jeans">@item.abbreviation</td>
        <td class="bg-coolors-blue-jeans">@item.name</td>
        <td class="bg-coolors-blue-jeans">@item.locationName</td>
        <td class="bg-coolors-blue-jeans" style="text-align: center;">
            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-light">View Team Details</a>
        </td>
      </tr>
      }
  </table>
</div>
